# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# ML
mlruns/
model/sentiment_model.pkl

# Data
data/imdb.json

# DVC
/tmp

# Environment
.env
*.pem
*.key
aws_access_key/

# OS
.DS_Store
Thumbs.db
